{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>글 수정하기</h1> 
    <form action="{% url 'products:update' %}" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="form-group">
            <label for="title">글 제목</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해주세요." value="{{ product.title }}" required> <!-- value 속성 추가 -->
        </div>
        <div class="form-group">
            <label for="content">글 내용</label>
            <textarea class="form-control" name="content" id="content" placeholder="내용을 입력해 주세요...">{{ product.content }}</textarea> <!-- 글 내용 추가 -->
        </div>
        <div class="form-group">
            <label for="content">가격</label>
            <textarea class="form-control" name="content" id="content" placeholder="내용을 입력해 주세요...">{{ product.price }}</textarea> <!-- 글 내용 추가 -->
        </div>
        <div class="form-group">
            <label for="content">재고</label>
            <textarea class="form-control" name="content" id="content" placeholder="내용을 입력해 주세요...">{{ product.stock }}</textarea> <!-- 글 내용 추가 -->
        </div>
        <div class="form-group">
            <label>이미지 첨부</label>
            <input type="file", class="form-control" name="image" accept="image/*">
        </div>
        <input type="submit" value="글 수정" class="btn btn-outline-primary"> <!-- 수정으로 버튼 변경 -->
    </form>
</div>
{% endblock %}