{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'shared/_navbar.html' %}
    <div class="container">
        <h1>판매 목록</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 col-12">
                    <div class="card" style="width: 18rem; margin-top: 20px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-content">{{ product.content }}</p>
                            <p>조회수 : {{ product.view_count }}</p>
                            <a href="{% url 'products:show' product.pk %}" class="btn btn-primary">상세보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}